/*
    Dylan Camlis
    0710417
    Assignment3 - show/series
    Oct 5 - 2025
    Color guide
    dark gray rgb (92, 92, 92)
    off white hsl (0, 0%, 78%)

 */

p {border: 5px solid green;
   width: 500px;}
/* p:nth-child(2) { */
    /* position: relative; */
    /* right: 0; */
    /* top: 0; */
    /* width: 100px; */
/* } */

article:nth-of-type(2n-1) img {
    margin-right: 10px;
    float: left;
    width: 50px;
}

article:nth-of-type(even) img {
    margin-left: 10px;
    position: relative;
    float: right;
    width: 50px;
}

/* article figure img:nth-child(1) { */
    /* float: right; */
    /* width: 100px; */
/* } */

/* article figure img:nth-child(3) { */
    /* float: left; */
    /* width: 100px; */
/* } */

/* article figure img:nth-child(2){ */
    /* float: right; */
    /* width: 100px; */
/* } */

body {
    background: linear-gradient(rgb(92, 92, 92), hsl(0, 0%, 78%))
}
