/*
    Dylan Camlis
    0710417
    Assignment3 - show/series
    Oct 5 - 2025
    Color guide to come

 */


p{
    border: 5px solid gray;
}

section{
    margin: 10px 0 0 10px;
}
img{
    float: right;
}